<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbb1MNj_8j4-ncwMh_C-Pf6hMoFTlddYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>198838850476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booking</string>
	<key>PROJECT_ID</key>
	<string>booking-a11b8</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-a11b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198838850476:ios:af7737f4829d865832a009</string>
</dict>
</plist>